pandas~=2.2.3
geopandas~=1.0.1
numpy~=2.2.5
shapely~=2.1.0
dash~=3.0.4
plotly~=6.0.1
datetime~=5.5
scipy~=1.15.3
astral~=3.2
matplotlib~=3.10.1
tqdm~=4.67.1
holidays~=0.74
python-dateutil~=2.9.0.post0
optuna~=4.3.0
shap~=0.47.2
xgboost~=3.0.1
scikit-learn~=1.6.1
seaborn~=0.13.2
gdown~=5.2.0
openpyxl~=3.1.5
xlrd~=2.0.1
